/* Main Container */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.login-container {
  position: fixed;
  top: 0;
  left: 0;
}

/* Left Side: Background Image */
.image-section {
  width: 76%;
  background-image: url("/images/pic.png");
  background-size: cover;
  background-position: center;
}

/* Hide the image on smaller screens */
@media (max-width: 768px) {
  .image-section {
    display: none;
  }
}

/* Logo Container */
.logo-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  /* padding: 20px; */
}

/* Logo */
.logo {
  background-image: url("/images/new.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 200px;
  height: 150px; */
  min-width: 200px; /* Prevent too small on mobile */
  min-height: 120px; /* Prevent too small on mobile */
  margin-right: 320px; /* Center the logo */
}

/* Right Side: Login Form */
.login-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: white;
  padding: 40px;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
  width: 480px;
}

h2 {
  font-size: 16px;
  margin: 4px 120px 4px 0;
  width: 280px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-in-button {
  width: 30%;
  background-color: #e6007e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.sign-in-button:hover {
  background-color: #b80064;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.footer-text {
  margin-top: 5px;
  margin-right: 80px;
  width: 80%;
}

.footer-links {
  margin-top: 20px;
  margin-right: 80px;
  width: 80%;
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/* Responsive Design for max-width: 768px */
@media (max-width: 768px) {
  .tu {
    align-items: center;
  }

  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-box {
    width: 100%;
    padding: 20px;
    box-shadow: none;
  }
   
  
  h2 {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  .logo {
    width: 180px;
    height: 135px;
    margin: 0 auto; /* Ensure centering on mobile */
  }

  .footer-text,
  .footer-links {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
    gap: 20px;
  }

  .ss {
    margin-left: 128px;
    text-align: center;
    width: 100%;
  }
}