body{
    background-color: white;
}


#dashboard-box1 {
    width: 520px;
    height: 250px;
    padding-left: 40px;
    padding-top: 35px;
    border-radius: 6px;
    border: 1.5px solid #c2c4c5;
    border-left:  4px solid #00DFF9;
    margin-bottom: 25px;
    background-color: white;
}
.hello{
    color: rgba(0, 0, 0, 0.692);
    font-size: smaller;
    font-weight: 100;
}





@media only screen and (max-width: 768px) {
    #dashboard-box1 {
        width: 80%;
        height: 350px;
        padding-left: 20px;
        padding-top: 20px;
    }

    
}

@media only screen and (max-width: 480px) {
    #dashboard-box1 {
        width: 90%;
        height: 150px;
        padding-left: 10px;
        padding-top: 15px;
    }

    #dashboard-box2 {
        width: 90%;
        height: 150px;
        padding-left: 10px;
        padding-top: 10px;
    }
}